body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-nav:hover,
.menu-nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 150%;
  color: #434455;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.section {
  background-color: #2e2f42;
}

.title {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
}

.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background: #f4f4fd;
  text-transform: capitalize;
}

.title-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

.section-third {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  background-color: #f4f4fd;
}

.team {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.footer-logo .span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4fd;
  letter-spacing: 0.03em;
}

.footer-dscr {
  color: #f4f4fd;
  line-height: 150%;
  letter-spacing: 0.02em;
}
